v<body data-rsssl=1 class="page-template page-template-templates page-template-template-studio page-template-templatestemplate-studio-php page page-id-8 studio" id="body">


        <div id="wrapper">
            <div class="site studio">
                <div class="site-internals">
                    <header class="site-header">
                        <div class="container">
                            <section class="content-section">
                                <div class="aside">
                                    <div class="aside-region"><a href="https://alwayscreative.net/" class="abbr" id="ac">AC</a></div>
                                </div>
                                <div class="contents">
                                    <div class="inner">
                                        <div class="block">
                                            <div class="primary-nav" id="primary-nav">
                                                <a href="https://alwayscreative.net/design/" class="other link-left">Design</a>
                                                <span class="current link-right">Studio</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </header>

                    <div class="main" role="main">

                        <div class="main-body">
                            <div class="container">
                                <section class="content-section statement-section">
                                    <div class="aside">
                                        <img src="https://alwayscreative.net/content/themes/alwayscreative/assets/img/europa.jpg" alt="Europa" id="europa" class="europa">
                                    </div>
                                    <div class="contents">
                                        <div class="inner">
                                            <div class="block">
                                                <p>We believe that good design is powerful, hard work is essential, and exploring the unknown is&nbsp;important.</p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="content-section">
                                    <div class="aside fade">
                                        <div class="header">
                                            <h1 class="turned">Services</h1>
                                        </div>
                                    </div>
                                    <div class="contents">
                                        <div class="inner">
                                            <div class="blocks">
                                                <div class="block fade">
                                                    <div class="title">
                                                        <h2>Identity Design & Branding</h2>
                                                    </div>
                                                    <div class="content">
                                                        <p>We create identities and corresponding systems. Every visual is considered and paired with great content and concept. As always, it’s done with a relentless pursuit of&nbsp;discovery.</p>
                                                    </div>
                                                </div>
                                                <div class="block fade">
                                                    <div class="title">
                                                        <h2>Responsive Web Design</h2>
                                                    </div>
                                                    <div class="content">
                                                        <p>We design and build websites that work well, regardless of device type or screen size. We utilize an iterative process that focuses on the environment in which the user actually exists: the&nbsp;browser.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="content-section">
                                    <div class="aside fade">
                                        <div class="header">
                                            <h1 class="turned">Process</h1>
                                        </div>
                                    </div>
                                    <div class="contents fade">
                                        <div class="inner">
                                            <div class="block">
                                                <div class="title">
                                                    <h2>Less talk, more walk</h2>
                                                </div>
                                                <div class="content">
                                                    <p>We dig deep, explore opportunities, and execute on ideas worth a damn. We work with individuals who understand that design is a process and our raw ingredient is time. Collaboration is a must, egos are a no-go, and we prefer to do the work instead of just talk about&nbsp;it.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="content-section team">
                                    <div class="aside fade">
                                        <div class="header">
                                            <h1 class="turned">Team</h1>
                                        </div>
                                    </div>
                                    <div class="contents fade">
                                        <div class="inner">
                                            <div class="block fade">
                                                <div class="content">
                                                    <div class="meta">
                                                        <img src="https://alwayscreative.net/content/themes/alwayscreative/assets/img/roby.png" alt="Roby Fitzhenry">
                                                    </div>
                                                    <div class="text">
                                                        <div class="title">
                                                            <h2>Roby Fitzhenry</h2>
                                                            <span class="role">Designer</span>
                                                        </div>
                                                        <p>14 years experience / Houston-native / Cosmology nerd / Son of a printer / Proud Dad / “Discipline, not desire, determines destiny.” / <a href="https://twitter.com/robyfitzhenry" target="_blank" class="social-link">@robyfitzhenry</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>

                                        <footer class="site-footer">
                        <div class="container">
                            <section class="content-section">
                                <div class="aside">
                                    <div id="top" class="top fade">Top</div>
                                </div>
                                <div class="contents">
                                    <div class="inner">
                                        <div class="cells">
                                            <div class="cell status fade">
                                                <a href="#contact-area" class="cta btn red">
                                                    <div class="hover"><span></span><span></span><span></span><span></span><span></span></div>
                                                    Request Consultation
                                                </a>
                                            </div>
                                            <div class="cell cell--info fade">
                                                <span class="info info--email"><a href="mailto:info@alwayscreative.net">info@alwayscreative.net</a></span>
                                                <span class="info info--tel"><a href="tel:8329551831">832-955-1831</a></span>
                                                <span class="info info--copyright">&copy;AC</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </footer>                </div>
            </div>

                        <div class="contact-area" id="contact-area">
                <div class="container">
                    <section class="content-section initial">
                        <div id="close" class="close">Close</div>
                        <div class="aside fade">
                            <div class="aside-region"><span class="abbr" id="ac">AC</span></div>
                            <div class="header">
                                <h2 class="turned">Contact</h2>
                            </div>
                        </div>
                        <div class="contents fade">
                            <div class="inner">
                                <div class="block">
                                    <h2>Hello, fellow explorer.</h2>
                                    <div role="form" class="wpcf7" id="wpcf7-f16-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<form action="/studio/#wpcf7-f16-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="16" />
<input type="hidden" name="_wpcf7_version" value="5.0.3" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f16-o1" />
<input type="hidden" name="_wpcf7_container_post" value="0" />
</div>
<div class="wpcf7-response-output wpcf7-display-none"></div><br />
<fieldset id="contactFields">
<div class="form-field">
        <label for="contact-name">Name</label><br />
        <span class="wpcf7-form-control-wrap contact-name"><input type="text" name="contact-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" id="contact-name" aria-required="true" aria-invalid="false" /></span>
    </div>
<div class="form-field">
        <label for="contact-email">Email</label><br />
        <span class="wpcf7-form-control-wrap contact-email"><input type="email" name="contact-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" id="contact-email" aria-required="true" aria-invalid="false" /></span>
    </div>
<div class="form-field">
        <label for="contact-phone">Phone</label><br />
        <span class="wpcf7-form-control-wrap contact-phone"><input type="text" name="contact-phone" value="" size="40" class="wpcf7-form-control wpcf7-text" id="contact-phone" aria-invalid="false" /></span>
    </div>
<div class="form-field">
        <label for="contact-message">About Your Project</label><br />
        <span class="wpcf7-form-control-wrap contact-message"><textarea name="contact-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" id="contact-message" aria-required="true" aria-invalid="false"></textarea></span>
    </div>
</fieldset>
<p><input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit submit" id="contact-submit" /></p>
</form></div>                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>


        </div>